@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

/* ---------- RESET / BASE ---------- */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;

  background: #2c2c2c;
  color: white;
  font-family: "Google Sans", sans-serif;
}

p {
  margin: 0;
  white-space: pre-line;
}

button {
  font-family: "Google Sans", sans-serif;
  transition: background-color 0.3s;
}

button:disabled {
  opacity: 1;
  color: inherit;
  background-color: inherit;
  cursor: default;
}

a {
  text-decoration: none;
}

/* ---------- APP (celular no PC) ---------- */

.app {
  width: 520px;
  max-width: 95vw;
  height: 98vh;
  margin: 0 auto;

  background: #1b1b1b;
  border-radius: 24px;
  box-shadow: 0 0 40px rgba(0,0,0,.6);

  position: relative;
  overflow: hidden;
}

/* ---------- MAIN / STORIES ---------- */

main {
  height: 100%;
  overflow: hidden;
}

main.ativo {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

main.ativo::-webkit-scrollbar {
  display: none;
}

/* ---------- HINT ---------- */

.hint-scroll {
  position: absolute;
  bottom: 18px;
  width: 100%;

  text-align: center;
  font-size: .9rem;
  opacity: .5;

  animation: pulse 2s infinite;
  pointer-events: none;
  z-index: 2;
}

.hidden {
  display: none;
}

@keyframes pulse {
  0% { opacity: .1; }
  50% { opacity: .4; }
  100% { opacity: .1; }
}

@keyframes test {
  0% { 
    transform: translateY(0px);
    scale: 1;}
  50% { 
    transform: translateY(-10px);
    scale: 1.03;
  }
}

@keyframes test1 {
  9% {
    transform: translateY(0px);
    scale: 1;
  }
  59% { 
    transform: translateY(-10px);
    scale: 1.03;
  }
}

@keyframes test4 {
  9% {
    transform: translateY(0px);
    scale: 1;
  }
  59% {
    transform: translateY(-10px);
    scale: 1;
  }
  100% { 
    transform: translateY(0px);
    scale: 1;
  }
}
@keyframes test5 {
  0% {
    transform: translateY(0px);
    scale: 1;
  }
  50% {
    transform: translateY(-10px);
    scale: 1;
  }
  100% { 
    transform: translateY(0px);
    scale: 1;
  }
}

@keyframes fadeUp {

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes test3 {
  0% {
    transform: translateY(0px);
  }
  55% { 
    transform: translateY(-10px);
  }
}

/* ---------- TELAS ---------- */

.tela {
  height: 100vh;
  padding: 48px 18px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  text-align: center;
  scroll-snap-align: start;

  opacity: 0;
  transform: translateY(40px);
  transition: 1.2s ease;

  background: rgba(15, 15, 15, 0.644);
  backdrop-filter: blur(20px);
  border-radius: 24px;
  box-shadow: 0 30px 80px rgba(0,0,0,0.6);
  position: relative;
  z-index: 1;
}

.tela.ativa {
  opacity: 1;
  transform: translateY(0);
}

.tela-0 {
  opacity: 1;
  transform: translateY(0);
}

.tela-3 {
  align-items: center;
  justify-content: center;
}

#total-msgs {
  font-size: 1.4rem;
  font-weight: 600;
}


/* ---------- CHAT ---------- */

#chat-preview {
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.msg {
  max-width: 75%;
  padding: 10px 14px;
  border-radius: 14px;

  font-size: .90rem;
  opacity: 0;
}

.msg-left {
  align-self: flex-start;
  background: #464646;
  border-top-left-radius: 4px;
}

.msg-right {
  align-self: flex-end;
  background: #005e27;
  border-top-right-radius: 4px;
}

/* ---------- ANIMAÇÕES CHAT ---------- */

@keyframes fadeSlideLeft {
  from { opacity: 0; transform: translateX(-20px); }
  to   { opacity: 1; transform: translateX(0); }
}

@keyframes fadeSlideRight {
  from { opacity: 0; transform: translateX(20px); }
  to   { opacity: 1; transform: translateX(0); }
}

@keyframes fadeSlideUp {
  from { opacity: 0; transform: translateY(15px); }
  to   { opacity: 1; transform: translateY(0); }
}

/* ---------- BOTÃO PLAY ---------- */

#btn-play {
  margin: 10px 0;
  padding: 14px 20px;
  width: 450px;
  align-self: center;

  border: none;
  border-radius: 12px;

  background: linear-gradient(to left, #25d366, #18a14a);
  color: #fff;

  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;

  box-shadow: 0 0 15px rgba(37, 211, 101, 0.267);
  transition: 0.3s;
  text-shadow: 0px 0px 5px #0000002d;
}

#btn-play:hover {
  background: linear-gradient(to left, #25d366, #18a14a);
  box-shadow: 0 0 18px rgba(37, 211, 101, 0.37);
}

@media (max-width:420px) {
  #btn-play {
    width: 370px;
  }
}

@media (max-width:390px) {
  #btn-play {
    width: 340px;
  }
}

/* ---------- INTRO USUÁRIOS (TELA 0) ---------- */

#intro-usuarios {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  text-align: center;
}

.usuarios-box {
  margin: 2.5rem;

  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.usuario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.usuario img {
  width: 110px;
  height: 110px;

  border-radius: 50%;
  object-fit: cover;

  border: 3px solid #eeeeee;
  box-shadow: 0 0 20px rgba(214, 214, 214, 0.4);
  animation: test 4s infinite;
}

#usuimg01 {
  margin-top: 10px;
  animation: test 3.5s infinite;
}

#usuimg02 {
  margin-top: 10px;
  animation: test1 3.5s infinite;
}

#usuimg02 {
  margin-top: 10px;
  animation: test1 3.5s infinite;
}



.usuario p {
  font-size: 1.3rem;
  font-weight:500;
}

/* ---------- MINI JOGO ---------- */

#minijogo1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.mid {
  text-align: center;
  font-size: 1rem;
  color: #c9c8c8;
}

#minijogo1 button {
  min-width: 120px;
  min-height: 120px;
  padding: 12px;

  font-size: 2rem;
  line-height: 1;

  border: none;
  border-radius: 12px;
  cursor: pointer;

  background: #ffffff;
  color: #000;

  font-family: system-ui, -apple-system, BlinkMacSystemFont,
               "Segoe UI Emoji", "Apple Color Emoji", "Noto Color Emoji";
  font-variant-emoji: emoji;

  text-shadow: 1px 1px 0px #00000060;
}

#minijogo1 button:disabled {
  cursor: default;
}

.emoji-item span {
  text-shadow: 0px 0px 5px #0000006e;
}

/* ---------- STICKERS ---------- */

#stk-img1,
#stk-img2,
#stk-geral {
  width: 140px;
  height: 140px;
  object-fit: cover;
}

.emoji-section {
  width: 100%;
  text-align: center;
}

.titulo-wrapped {
  font-size: 26px;
  margin-bottom: 25px;
  color: #1aff64;
}

/* GRID DOS CARDS */
.emoji-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 22px;
  padding: 0 0px;
}

/* CARD */
.emoji-card {
  margin-top: 30px;
  background: rgba(255, 255, 255, 0.021);
  border: 2px solid rgba(255, 255, 255, 0.281);
  border-radius: 18px;
  padding: 40px 12px 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.397);
  opacity: 1;
}

#user-1 {
  animation: test4 5s infinite;
}
#user-2 {
  animation: test5 5s infinite;
}


/* TOPO DO CARD */
.user-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

/* AVATAR FAKE */
.avatar-e {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background: linear-gradient(135deg, #00ff88, #00aa39);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 8px;
  box-shadow: 0 0 12px rgba(37, 211, 101, 0.267);
}

.avatar-q {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background: linear-gradient(135deg, #00ff88, #00aa39);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 8px;
  box-shadow: 0 0 12px rgba(37, 211, 101, 0.267);
}

.avatar-e img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.avatar-q img {
  width: 54px;
  height: 54px;
  border-radius: 50%;
}

/* NOME */
.username {
  font-size: 23px;
  font-weight: bold;
  color: #fff;
}

/* LISTA DE EMOJIS */
.emoji-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

/* LINHA DE EMOJI */
.emoji-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  color: #fff;
}

/* CONTADOR */
.emoji-count {
  font-size: 14px;
  opacity: 0.7;
}


/* ---------- CALENDÁRIO ---------- */

.calendario-placeholder {
  font-size: 4rem;
}

#calendario {
  width: 320px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;

  opacity: 0;
  transform: translateY(20px);
  transition: 2s ease;
}

#calendario.show {
  opacity: 1;
  transform: translateY(0);
}

.dias-semana,
#dias {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 6px;
  margin-top: 10px;
}

.fds {
  color: #ff5353;
}

#dias span {
  padding: 8px 0;
  border-radius: 6px;

  opacity: 0;
  transform: scale(0.3);
}

#dias span.show {
  opacity: 1;
  transform: scale(1);
  transition: 2s ease;
}

.destaque {
  background: #2ecc71;
  color: #000;
  font-weight: bold;
}

.destaque {
  box-shadow:
    0 0 20px rgba(0, 255, 149, 0.6),
    0 0 40px rgba(0,255,150,0.4);
}


.bg-layer {
  position: absolute;
  inset: -20%;
  filter: blur(80px);
  z-index: 0;
}

.bg1 {
  background: radial-gradient(circle at 30% 30%, rgba(0,255,150,0.35), transparent 50%);
  animation: respirar1 7s ease-in-out infinite alternate;
}

.bg2 {
  background: radial-gradient(circle at 70% 70%, rgba(0,200,120,0.25), transparent 50%);
  animation: respirar2 10s ease-in-out infinite alternate;
}

@keyframes respirar1 {
  from { transform: scale(1) translate(0,0); }
  to { transform: scale(1.17) translate(-40px, -20px); }
}

@keyframes respirar2 {
  from { transform: scale(1.12) translate(0,0); }
  to { transform: scale(1) translate(30px, 20px); }
}

.animar-entrada {
  opacity: 0;
  transform: translateY(40px);
  animation: subir 2s ease forwards;
}

@keyframes subir {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.comparacao-container {
  width: 85%;
  max-width: 450px;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.linha-user {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* FOTO */

.avatar-wrapper {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

.avatar-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* BARRA */

.barra-container {
  flex: 1;
  height: 18px;
  background: #222;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 15px #0000002c;
}

.barra {
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg, #19ff63, #00ac42);
  border-radius: 20px;
  transition: width 4s ease-out;
}

/* NÚMERO */

.numero {
  min-width: 30px;
  color: white;
  font-weight: bold;
  text-align: right;
}

.livro-card img {
  margin-bottom: 30px;
  margin-top: 10px;
  width: 300px;
  height: 234px;
  animation: test3 7s infinite;
}

#livro-equivalente {
  font-size: 1.1rem;
  padding-left: 4px;
  padding-right: 4px;
}
#info-livro {
  margin: 8px 0px 8px 0px;
  font-size: .9rem;
}

.livro-card {
  background: rgba(255, 255, 255, 0.021);
  border: 2px solid rgba(255, 255, 255, 0.233);
  border-radius: 18px;
  padding: 40px 12px 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.397);
}



/* ---------- ESTADOS ESPECÍFICOS ---------- */

#pag-1 {
  opacity: 0;
}

#data-inicio {
  display: none;
}

.titles {
  color: #1fcc64;
  text-shadow: 0px 0px 10px #1cb85a7a;
  font-weight: 700;
  font-size: 2rem;
  margin: 0;
}

#resultado1 {
  opacity: 0;
}

#dia-agitado2 {
  font-weight: 500;
}

.conquistas {
  padding: 0px 20px;
  text-align: center;
}

.grid-conquistas {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.card-conquista {
  background: rgba(20, 30, 25, 0.9);
  border-radius: 18px;
  padding: 18px 14px;
  min-height: 140px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  backdrop-filter: blur(10px);
  border: 1px solid rgba(0,255,120,.08);

  opacity: 1;
  transition: .8s ease;
}

.icon {
  font-size: 2.4rem;
  text-shadow: 0px 0px 10px #0000004d;
}

.card-conquista.ativa {
  opacity: 1;
  transform: translateY(0px);
  box-shadow:
    0 0 15px rgba(122, 122, 122, 0.2),
    inset 0 0 12px rgba(0, 0, 0, 0.14);

  border: 1px solid rgba(153, 153, 153, 0.25);
}

.card-conquista h3 {
  margin: 15px 0px 15px 0px;
}

.card-conquista.bloqueada {
  transform: translateY(0px);
  filter: grayscale(1);
  opacity: .45;
  box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.14);
}

.audio-btn {
  position: absolute;
  top: 15px;
  right: 25px;
  z-index: 50;

  background: rgba(0,0,0,.4);
  backdrop-filter: blur(10px);

  border-radius: 50%;
  border: 1px solid rgba(255,255,255,.15);

  padding: 11px 11px;
  font-size: 16px;

  color: white;
  cursor: pointer;

  transition: .2s ease;
}

#home {
  position: absolute;
  top: 15px;
  left: 25px;
  z-index: 51;

  background: rgba(0,0,0,.4);
  backdrop-filter: blur(10px);

  border-radius: 50%;
  border: 1px solid rgba(255,255,255,.15);

  padding: 11px 11px;
  font-size: 16px;

  color: white;
  cursor: pointer;

  transition: .2s ease;
}

#home:hover {
  transform: scale(1.1);
}

.audio-btn:hover {
  transform: scale(1.1);
}

#t-emojis-enviados2 {
  font-weight: 500;
  font-size: 1.1rem;
}

.badge-feedback {
  position: absolute;
  top: -11px;
  left: -15px;

  padding: 9px 7px;
  background: #ffffff;
  border-radius: 50%;

  font-size: 15px;

  text-shadow: 0 0 8px rgba(0, 255, 13, 0.25);

  opacity: 0;
  transform: scale(0.4);

  transition: 
    opacity .3s ease,
    transform .35s cubic-bezier(.2,.9,.3,1.4);
}

.badge-feedback.show {
  opacity: 1;
  transform: scale(1);
}
